<%= render template: "layouts/header" %>

<h1>Ponds</h1>

<% @ponds.each do |pond| %>
<%= link_to pond.name, pond %> 
<br>
<br>
<% end %>

<%= link_to "Create a New Pond", {:action=>"new", :controller=>"ponds"} %>

<%= render template: "layouts/footer" %>