<%= render template: "layouts/header" %>

<h1>Frogs</h1>

<% @frogs.each do |frog| %>
<%= link_to frog.name, frog %> 
<br>
<br>
<% end %>

<%= link_to "Create a New frog", {:action=>"new", :controller=>"frogs"} %>

<%= render template: "layouts/footer" %>
